---

import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/Linkedin.astro';
import Github from '../components/Github.astro';
import Curriculum from '../components/Curriculum.astro';
---

<Layout>
	<main>
    <section class="w-full mx-auto lg:w-[740px] py-44 flex flex-col items-center">
        <img 
        class="rounded-full w-36 h-36 mb-4"
        src="/igna-icon.png" 
        alt="igna photo"
        />
        <h1 class="text-white text-5xl flex flex-row gap-x-4 pb-4" >
            <span class="text-[#0F969C]">¡Hola!</span> Soy <span class="font-bold">Juan Ignacio</span>
        </h1>
        <div class="flex justify-center items-center m-4"><Badge >Disponible para trabajar</Badge></div>
        <h2 class="text-xl opacity-80 text-center">Estudiante de Ingeniería en Sistemas de Información, desarrollador de software y un apasionado por la tecnología, de Mendoza, Argentina AR</h2>
    
    <ul class="flex gap-6 mt-4">
        <li>
            <a href="https://www.linkedin.com/in/juan-ignacio-diaz-b3a167266/" 
            class="flex items-center gap-2 px-4 py-1 rounded-lg border border-gray-300 hover:bg-[#0F969C] hover:bg-opacity-10 transition-colors duration-300"
            >
                <Linkedin />
                Linkedin
            </a>
        </li>
        <li>
            <a href="https://github.com/Ignatox"
            class="flex items-center gap-2 px-4 py-1 rounded-lg border border-gray-300 hover:bg-[#0F969C] hover:bg-opacity-10 transition-colors duration-300">
                <Github />
                Github
            </a>
        </li>
        <li>
            <a href="/cv.pdf" download
            class="flex items-center gap-2 px-4 py-1 rounded-lg border border-gray-300 hover:bg-[#0F969C] hover:bg-opacity-10 transition-colors duration-300"
            >
                <Curriculum />
                CV
            </a>

        </li>
    </ul>

    </section>
    </main>
</Layout>
