---
---
<div class="relative flex items-center gap-2">
    <svg class="w-6 h-6 text-[#0F969C]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span class="font-['Caveat'] text-white text-2xl">Disponible para trabajar</span>
</div>