<footer class="m-10">
    <div class="flex items-center justify-center gap-x-2">
        <a class="text-gray-400 text-sm">© 2025 Juan Ignacio Diaz - Todos los derechos reservados -</a>
        <a href="mailto:ignaciodiaz93@gmail.com" class="text-gray-400 text-sm font-bold hover:text-decoration-underline">Contacto</a>
    </div>
</footer>