<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
   <span></span>

    <nav class="flex flex-row gap-x-10 opacity-80 rounded-full bg-gray-800 px-4 py-2 border-2 border-[#6DA6C0]">
        <a href="#top" class="hover:text-[#0F969C] transition-colors duration-100">Inicio</a>
        <a href="#formacion" class="hover:text-[#0F969C] transition-colors duration-100">Formación</a>
        <a href="#proyectos" class="hover:text-[#0F969C] transition-colors duration-100">Proyectos</a>
        <a href="#contacto" class="hover:text-[#0F969C] transition-colors duration-100">Contacto</a>
    </nav>
</header>