<a
    class={
        `flex items-center gap-2 px-4 py-1 rounded-lg border border-[#6DA6C0] border-2 hover:bg-[#6DA6C0] hover:text-black hover:font-semibold hover:bg-opacity-10 transition-colors duration-300`
    }{...Astro.props}>
    <slot />
</a>
